<h1>Productos</h1>
{{#if hayProductos}}
    <table>
        <tr>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Foto</th>
        </tr>
        {{#each productos}}
        <tr>
            <td>{{this.titulo}} </td>
            <td>{{this.precio}} </td>
            <td><img src={{this.foto}} style='width:70px;height:70px;'></td>
        </tr>
        {{/each}}
    </table>
{{/if}}